*{
    margin: 0;
    padding: 0;
}
a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
ul{
    padding-left: 20px;
}
.right-header{
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-top: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 180px;
    padding-right: 200px;
    background-color: #006332;
}
.privacy-policy{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    padding: 30px 80px 30px 80px;
    background-color: whitesmoke;
}
.title{
    font-size: 30px;
    font-weight: bolder;
    align-items: center;
}
.subtitle{
    font-size: 21px;
    font-weight: bold;
}
p{
    font-size: 18px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}